# Pandas Data Cleaning

In this challenge you will be doing some preprocessing for a dataset for the videogame FIFA19 (https://www.kaggle.com/karangadiya/fifa19).  The dataset contains both data for the game as well as information about the players' real life careers.

**1) Read the CSV file into a pandas dataframe**

The data you'll be working with is found in a file located at`'../data/fifa.csv'`.  Use your knowledge of pandas to create a new dataframe using the csv data. 

Check the contents of the first few rows of your dataframe, then show the size of the dataframe

In [50]:
import pandas as pd
import numpy as np
import warnings
from io import StringIO
warnings.filterwarnings('ignore')

In [51]:
# code here to read in `fifa.csv` and assign a dataframe to the variable `df`
df = pd.read_csv('../data/fifa.csv')

In [52]:
# code here to see the size of the dataframe
size =len(df)
size

20000

**2. Drop n/a rows for "Release Clause"**
    
Drop rows for which "Release Clause" is none or not given. This is part of a soccer player's contract dealing with being bought out by another team. After you have dropped them, see how many rows are remaining.

In [53]:
df['Release Clause'].isna()

0        False
1        False
2        False
3        False
4        False
         ...
19995    False
19996    False
19997    False
19998    False
19999    False
Name: Release Clause, Length: 20000, dtype: bool

In [54]:
df['Release Clause']

0        226500.0
1        127100.0
2        228100.0
3        138600.0
4        196400.0
           ...
19995    143000.0
19996    113000.0
19997    165000.0
19998    143000.0
19999    165000.0
Name: Release Clause, Length: 20000, dtype: float64

In [58]:
# code here to drop n/a rows
df_drop = df[df['Release Clause'] > 0]
# df_dropped = df[df['Release Clause'] != None]
# new_data = df_dropped.dropna(axis = 0, how ='any') 
# new_data
df_drop.shape

(18273, 89)

In [59]:
# now check how many rows are left 
df_drop.count()

Unnamed: 0        18273
ID                18273
Name              18273
Age               18273
Photo             18273
                  ...
GKHandling        18273
GKKicking         18273
GKPositioning     18273
GKReflexes        18273
Release Clause    18273
Length: 89, dtype: int64

**3) Convert the Release Clause Price from Euros to Dollars**

Now that there are no n/a values, we can change the values in the `Release Clause` column from Euro to Dollar amounts.

Assume the current Exchange Rate is
`1 Euro = 1.2 Dollars`

In [61]:
 # code here to convert the column of euros to dollarss
df_dollars = df_drop['Release Clause'].map(lambda x: x *1.2)